<p>
    {{usuarios}}
</p>


<table *ngIf="showData" style="border: 1px solid;">
    <tr>
        <th>Nombre</th>
        <th>Password</th>
        <th>status</th>
        <th>Editar</th>
    </tr>
    <tbody>
        <tr *ngFor="let usuario of usuarios">
            <td>{{usuario.nombreUsuario}}</td>
            <td>{{usuario.password}}</td>
            <td>{{usuario.status}}</td>
            <td><button mat-button color="primary" (click)="editUser(usuario)" >Edit</button></td>
        </tr>
    </tbody>
</table>

<button mat-button color="primary" (click)="addUser()" >+</button>
